<h2>Welcome to Flavortown!</h2>
<h2>It's Burger Time!</h2>
<div class="container">

        <div>            
            <ul id="uneaten">
                <h3>Select the burger to the left that you want to eat!</h3>
                {{#each burger}}
                {{#unless devoured}}
                {{> burger/burgersdisplay devoured=false}}
                {{/unless}}
                {{/each}}
            </ul>

        </div>

        <div>
            
   
            <h2>New Burger?</h2>
        
            <form class="inputBurger">
            <input type="text" id="newBurger" name="burger_name">
                <div class="container">
                    
                    <button type="submit" id="burgerBtn">Add this Burger</button>

                </div>
            </form>
            
        </div>
        <div>
            <ul id="eaten">
                <h2>You're a beast! Here are the burgers you've eaten:</h2>
                {{#each burger}}
                {{#if devoured}}
                {{!-- > means you're looking in the partials directory --}}
                {{> burger/burgersdisplay devoured=true}}
                {{/if}}
                {{/each}}
            </ul>

        </div>
    </div>
